In [36]:
import numpy as np
import pandas as pd

In [37]:
df = pd.read_csv(r"https://www.piworks.net/Upload/Document/Original/country_vaccination_stats.csv")
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [38]:
#I am checking for any country with only NaN entries, only Kuwait is so
df.groupby(["country"]).sum()

C:\Users\yusuf\AppData\Local\Temp\ipykernel_21668\168796440.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(["country"]).sum()

                      daily_vaccinations
country
Argentina                       309061.0
Austria                         160064.0
Bahrain                         114506.0
Belgium                         139497.0
Brazil                          343035.0
Bulgaria                         28259.0
Canada                          765146.0
Chile                            70078.0
China                         11919643.0
Costa Rica                       24969.0
Croatia                          58762.0
Cyprus                           12047.0
Czechia                         186394.0
Denmark                         206146.0
Ecuador                            108.0
England                        4694078.0
Estonia                          24448.0
Finland                          85460.0
France                          919019.0
Germany                        1596597.0
Gibraltar                        10780.0
Greece                          139628.0
Hungary                         147175.0
Iceland                           5367.0
India                          1778976.0
Indonesia                       168261.0
Ireland                         125638.0
Isle of Man                        546.0
Israel                         3451711.0
Italy                          1332673.0
Kuwait                               0.0
Latvia                           20287.0
Lithuania                        71120.0
Luxembourg                        5454.0
Malta                            17191.0
Mexico                          581964.0
Netherlands                     115472.0
Northern Ireland                172088.0
Norway                           71592.0
Oman                             32549.0
Panama                            5746.0
Poland                          655312.0
Portugal                        213734.0
Romania                         383659.0
Russia                          927026.0
Saudi Arabia                    211705.0
Scotland                        358781.0
Serbia                          129593.0
Seychelles                       14751.0
Singapore                        52490.0
Slovakia                         82443.0
Slovenia                         49932.0
Spain                          1191691.0
Sweden                          125389.0
Switzerland                     119239.0
Turkey                         1891715.0
United Arab Emirates           1615863.0
United Kingdom                 5368839.0
United States                 18990938.0
Wales                           215469.0

In [39]:
minimum_vax = df.groupby(["country"]).min().drop(["date", "vaccines"],axis="columns").T
minimum_vax
minimum_vax["Argentina"][0]

6483.0

In [40]:
countries = ['Argentina', 'Austria', 'Bahrain', 'Belgium', 'Brazil', 'Bulgaria',
       'Canada', 'Chile', 'China', 'Costa Rica', 'Croatia', 'Cyprus',
       'Czechia', 'Denmark', 'Ecuador', 'England', 'Estonia', 'Finland',
       'France', 'Germany', 'Gibraltar', 'Greece', 'Hungary', 'Iceland',
       'India', 'Indonesia', 'Ireland', 'Isle of Man', 'Israel', 'Italy',
       'Kuwait', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Mexico',
       'Netherlands', 'Northern Ireland', 'Norway', 'Oman', 'Panama', 'Poland',
       'Portugal', 'Romania', 'Russia', 'Saudi Arabia', 'Scotland', 'Serbia',
       'Seychelles', 'Singapore', 'Slovakia', 'Slovenia', 'Spain', 'Sweden',
       'Switzerland', 'Turkey', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Wales']
new_df = []
for country_ in countries:
    q=df.loc[df["country"] == country_].fillna(minimum_vax[country_][0])
    new_df.append(q)

In [41]:
df.loc[df["country"] == country_].fillna(minimum_vax[country_][0])

,country,date,daily_vaccinations,vaccines
1459,Wales,12/13/2020,1763.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1460,Wales,12/14/2020,2198.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1461,Wales,12/15/2020,2198.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1462,Wales,12/16/2020,2198.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1463,Wales,12/17/2020,2198.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1464,Wales,12/18/2020,2198.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1465,Wales,12/19/2020,2198.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1466,Wales,12/20/2020,2198.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1467,Wales,12/21/2020,2136.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1468,Wales,12/22/2020,2074.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1469,Wales,12/23/2020,2012.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1470,Wales,12/24/2020,1950.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1471,Wales,12/25/2020,1887.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1472,Wales,12/26/2020,1825.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1473,Wales,12/27/2020,1763.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1474,Wales,12/28/2020,1796.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1475,Wales,12/29/2020,1830.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1476,Wales,12/30/2020,1863.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1477,Wales,12/31/2020,1896.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1478,Wales,1/1/2021,1929.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1479,Wales,1/2/2021,1962.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1480,Wales,1/3/2021,1995.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1481,Wales,1/4/2021,2450.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1482,Wales,1/5/2021,2904.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1483,Wales,1/6/2021,3359.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1484,Wales,1/7/2021,3814.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1485,Wales,1/8/2021,4268.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1486,Wales,1/9/2021,4723.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1487,Wales,1/10/2021,5177.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1488,Wales,1/11/2021,5183.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1489,Wales,1/12/2021,5893.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1490,Wales,1/13/2021,6812.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1491,Wales,1/14/2021,7988.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1492,Wales,1/15/2021,8460.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1493,Wales,1/16/2021,8931.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1494,Wales,1/17/2021,9403.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1495,Wales,1/18/2021,10123.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1496,Wales,1/19/2021,10672.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

In [42]:
new_df = pd.concat(new_df)

In [43]:
new_df.info()
#Only remaning one is Kuwait because it had no median values to begin with as we know

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1502 entries, 0 to 1501
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             1502 non-null   object
 1   date                1502 non-null   object
 2   daily_vaccinations  1501 non-null   float64
 3   vaccines            1502 non-null   object
dtypes: float64(1), object(3)
memory usage: 58.7+ KB

In [44]:
new_df["daily_vaccinations"] = new_df["daily_vaccinations"].fillna(0)

In [45]:
new_df.info()
#we have 0 null values remaining

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1502 entries, 0 to 1501
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             1502 non-null   object
 1   date                1502 non-null   object
 2   daily_vaccinations  1502 non-null   float64
 3   vaccines            1502 non-null   object
dtypes: float64(1), object(3)
memory usage: 58.7+ KB

In [46]:
top3 = new_df.groupby(["country"]).median().sort_values(["daily_vaccinations"],ascending=False).iloc[0:3]
top3

C:\Users\yusuf\AppData\Local\Temp\ipykernel_21668\1598139105.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  top3 = new_df.groupby(["country"]).median().sort_values(["daily_vaccinations"],ascending=False).iloc[0:3]

               daily_vaccinations
country
United States            378253.0
China                    276786.0
India                    173922.0